# ===============================
# Virtualenv
# ===============================
venv/
.venv/
ENV/
env/

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Django
# ===============================
*.log
db.sqlite3
local_settings.py

# ===============================
# Media / Uploads / Execuções
# ===============================
media/
media/**
media\

# ===============================
# Execuções geradas (separado)
# ===============================
execucoes/
execucoes/**

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Coverage / testes
# ===============================
.coverage
htmlcov/
.pytest_cache/
